---
import Container from "./Container.astro"

---

<div class="text-gray-600 dark:text-gray-300" id="testimonials">
  <Container>
    <div class="mb-20 space-y-4 px-6 md:px-0">
      <h2 class="text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl">
        O que dizem nossos clientes.
      </h2>
    </div>
    <div class="md:columns-2 lg:columns-3 gap-8 space-y-8">
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar.webp" alt="user avatar" width="400" height="400" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Ana Souza</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Loja de Roupas Online</p>
          </div>
        </div>
        <p class="mt-8">"O novo design do nosso site ficou incrível! A navegação está muito mais intuitiva, e já notamos um aumento significativo nas vendas. A equipe foi extremamente profissional e atendeu a todas as nossas necessidades."
        </p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-1.webp" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Jaqueline</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Blog de Viagens</p>
          </div>
        </div>
        <p class="mt-8"> "A experiência de trabalhar com esta equipe foi maravilhosa! Eles capturaram perfeitamente a essência do nosso blog e criaram um design que é ao mesmo tempo bonito e funcional. Nossos leitores adoraram o novo visual."</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-2.webp" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Ricardo Santos</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Restaurante Gourmet</p>
          </div>
        </div>
        <p class="mt-8">"Nosso site anterior não refletia a qualidade do nosso restaurante, mas agora, graças a esse incrível trabalho, temos um site que realmente representa quem somos. A integração com as redes sociais e a reserva online funcionam perfeitamente."</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-3.webp" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Juliana Ferreira</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300"> Academia de Ginástica</p>
          </div>
        </div>
        <p class="mt-8">"Desde que lançamos o novo site, recebemos muitos elogios dos nossos clientes. A plataforma é fácil de usar, tanto para nossa equipe quanto para os nossos membros. As funcionalidades de agendamento e pagamento online são um grande diferencial."</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-4.webp" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Pedro Martins</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Agência de Marketing Digital</p>
          </div>
        </div>
        <p class="mt-8"> "Estamos muito satisfeitos com o site desenvolvido pela equipe. O design é elegante e a performance está impecável. A atenção aos detalhes e a dedicação em entender nossas necessidades foram fundamentais para o sucesso do projeto."</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-5.webp" alt="user avatar" width="400" height="400" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Paulo Almeida</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Estúdio de Fotografia</p>
          </div>
        </div>
        <p class="mt-8">"A qualidade das imagens e a maneira como foram apresentadas destacam perfeitamente o nosso trabalho. O suporte contínuo após o lançamento também tem sido excelente, ajudando-nos a manter o site sempre atualizado e funcional."</p>
      </div>

    </div>
  </Container>
</div>